body {
    margin: 0;
    padding: 0;
    background: #FFF;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.page-container {
    overflow-x: hidden
}

a,
button {
    transition: background .3s ease-in-out;
    outline: none
}

a:hover {
    text-decoration: none;
    cursor: pointer
}

.img-userprofilepic {
    height: 40px;
    width: 40px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .4)
}

.main {
    width: 100%;
    clear: both;
    background: 50% 50% no-repeat;
    padding: 0 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    display: flex;
    width: 80%
}

.main .container {
    padding-left: 0;
    padding-right: 0
}

.dividenytwooftwowhat {
    display: flex
}

.username-name {
    font-size: 16px
}

.link-style {
    font-weight: normal;
    font-size: 28px
}

.h4-modal {
    font-size: 26px
}

.navbar-asmo {
    padding-bottom: 0
}

.bold {
    font-weight: 600
}

.bigtext {
    font-size: 1.3rem
}

.normaltext {
    font-size: 1rem
}

.dark-huch {
    color: rgba(255, 255, 255, .7)
}

.dark-huch button:hover {
    color: rgba(255, 255, 255, .9)
}

.dark-huch .navbar a,
.dark-huch h3 a,
.dark-huch h4 a,
.dark-huch h5 a,
.dark-huch h6 a {
    color: rgba(255, 255, 255, .6)
}

.dark-huch .buttonnav:hover,
.dark-huch .navbar a:hover,
.dark-huch h3 a:hover,
.dark-huch h4 a:hover,
.dark-huch h5 a:hover,
.dark-huch h6 a:hover {
    color: rgba(255, 255, 255, 1)
}

.dark-huch .button-cleanandno,
.dark-huch .button-cleanandno:hover {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1)
}

.light-huch .navbar a,
.light-huch h3 a,
.light-huch h4 a,
.light-huch h5 a,
.light-huch h6 a {
    color: rgba(0, 0, 0, .6)
}

.light-huch .navbar a:hover,
.light-huch h3 a:hover,
.light-huch h4 a:hover,
.light-huch h5 a:hover,
.light-huch h6 a:hover {
    color: rgba(0, 0, 0, 1)
}

.light-huch .button-cleanandno,
.light-huch .button-cleanandno:hover {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3)
}

.navbar-light .menu-icon-circles .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgba(0,0,0,0.5)' d='M15.5,12A3.5,3.5,0,1,1,12,15.5,3.5,3.5,0,0,1,15.5,12Zm11,0A3.5,3.5,0,1,1,23,15.5,3.5,3.5,0,0,1,26.5,12Zm-22,0A3.5,3.5,0,1,1,1,15.5,3.5,3.5,0,0,1,4.5,12Z'/%3E%3C/svg%3E")
}

.navbar-light .navbar-nav .nav-link {
    color: #404040
}

.profileinfo {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex
}

.usernamepadding {
    padding-left: 5px
}

.nomarginatallwhyidk {
    margin: 0
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3)
}

button {
    outline: none
}

.link-register-style {
    width: 100%
}

.btn-isbtswhat-no,
.btn-isbtswhat-no:hover,
.btn-isbtswhat-no:active,
.btn-isbtswhat-no:focus {
    background: none;
    box-shadow: none;
    padding: 0
}

.button-cleanandno {
    background: transparent!important;
    border: 2px solid transparent
}

.button-cleanandno:hover {
    background: transparent!important;
    border: 2px solid transparent
}

.form-control {
    border-color: rgba(0, 0, 0, .1);
    box-shadow: none
}

h3,
h4,
h5,
h6,
span,
ul,
label,
.btn,
a {
    font-family: "Montserrat"
}

.blacklegocity {
    color: #000!important
}

.container {
    max-width: 1140px
}

.asmologo img {
    width: 32px;
    height: 48px
}

.bgc-pastel-red {
    background-color: #F0645E
}

.store-black {
    color: #000!important
}

.lttstorebut-black {
    color: #000!important
}

.lttstorebut-black:hover {
    color: #000!important
}

.if-logged-in {
    display: none
}

.margin-medium {
    margin-top: 10px;
    margin-bottom: 20px
}

.button-upload-create {
    background: transparent!important;
    border: 2px solid transparent
}

.button-upload-create :hover {
    background: transparent!important;
    border: 2px solid transparent
}

h3,
h4,
h5,
h6,
label,
.btn,
a {
    font-family: "Montserrat"
}

.nav {
    width: 20%
}

.mymapspreview {
    border-style: solid;
    border-color: #000!important;
    border-radius: 0;
    border-width: 4px 4px 4px 4px
}

.newmapcreation {
    width: 323px;
    height: 181px;
    text-align: center
}

.h3-modal-heading-style {
    width: 100%;
    font-size: 32px
}

.mapfiletitle {
    font-size: 24px
}

.h6-heading-6-style {
    font-size: 24px
}

.margbuttonbit {
    margin-top: 2%
}

.file-field {
    position: relative
}

.file-field .file-path-wrapper {
    height: 2.5rem;
    padding-left: 10px;
    overflow: hidden
}

.file-field input.file-path {
    width: 100%;
    height: 36px
}

.file-field .btn {
    float: left
}

.file-field span {
    cursor: pointer
}

.file-field input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0
}

.file-field input[type="file"]::-webkit-file-upload-button {
    display: none
}

.btn-primary {
    color: #fff;
    background-color: #4285f4!important
}

.btn-primary:hover {
    color: #fff;
    background-color: #5a95f5
}

.btn-primary:focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #0b51c5
}

.btn-primary:not([disabled]):not(.disabled):active {
    background-color: #0b51c5!important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.btn-primary:not([disabled]):not(.disabled):active:focus {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

@media (max-width:991px) {
    .container {
        width: 100%
    }
    .page-container {
        overflow-x: hidden;
        position: relative
    }
}

@media (max-width:1024px) {
    .main {
        padding-left: 20px;
        padding-right: 20px
    }
}

@media (max-width:991px) {
    .container {
        width: 100%
    }
    .main {
        padding-left: constant(safe-area-inset-left);
        padding-right: constant(safe-area-inset-right)
    }
    .proforient {
        display: flex;
        align-items: left
    }
}

@media (max-width:767px) {
    .page-container {
        overflow-x: hidden;
        position: relative
    }
    form {
        padding: 5px
    }
    .dividenytwooftwowhat,
    .dividenytwooftwowhat .main {
        display: block;
        width: 100%
    }
    .profileinfo {
        align-items: left;
        justify-content: left
    }
    .navbar-asmo {
        padding-bottom: 0.5rem
    }
}